<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商品編集</title>
</head>
<body>

<h1>商品編集</h1>

<form action="/updateProduct" method="post">
    <label for="productName">商品名:</label>
    <input type="text" id="productName" name="productName" required th:value="${product.name}" />

    <label for="productPrice">値段:</label>
    <input type="text" id="productPrice" name="productPrice" required th:value="${product.price}" />

    <button type="submit">変更</button>
</form>

<p th:if="${updateSuccess}">
    変更しました。<br/>
    変更後の商品名: <span th:text="${product.name}"></span><br/>
    変更後の値段: <span th:text="${product.price}"></span>
</p>

</body>
</html>
